<h2>Passion Schecule へようこそ！</h2>
<h4>当サイトは自己啓発や業務計画を立案管理するためのサポートツールです。</h4>
<h4>「計画することが苦手、計画してもなかなか実行に移せない、楽しみながらタスクをこなしたい。」</h4>
<h4>このようなニーズを持つ方々を対象として製作しました。</h4>
<h4>よりよい今日、明日、これからを目指して一緒に頑張りましょう！</h4><br>
